<div class="container-fluid">
  <div class="footer row">
    <span class="col-md-1"></span>
    <div class="col-md-2 footer-1">
      <img src="../../assets/img/footer-logo.png">

      <p class="footer-text mt-3"> We believe in Simple, Creative & Flexible Design Standards.</p>
      <br>
      <p class="footer-text">
        <b class="headingText">Headquarters:</b>
        <br>795 Folsom Ave, Suite 600 <br> San Francisco, CA 94107
        <br><br>
        <b class="headingText">Phone:</b> (91) 8547 632521<br>
        <b class="headingText">Fax:</b> (91) 11 4752 1433 <br>
        <b class="headingText">Email:</b> info@canvas.com
      </p>
    </div>

    <div class="col-md-2 footer-2">
      <p class="blogroll">BLOGROLL</p>
      <ul class="footer-text listTest">
        <li>Documentation</li>
        <li>Feedback</li>
        <li>Plugins</li>
        <li>Support</li>
        <li>Themes</li>
        <li>WordPress Blog</li>
        <li>WordPress Planet</li>
      </ul>
    </div>
    <span class="col-md-1"></span>
    <div class="col-md-2 footer-3">      <p class="recentPosts">RECENT POSTS</p>
      <app-post></app-post></div>
    <div class="col-md-3 footer-4">
       <span>
       <p class="text-left downloadsAmount">15,065,421 
         <span class="text-right clientsAmount"> 18,465</span>
    <br><span class="text-left downloadsAmountSmall">TOTAL DOWNLOADS</span>
    <span class=" text-right clientsAmountSmall mr-4">CLIENTS</span></p>
    </span>
    <br>
    <br>
    <br>
    <p class="subscribe"><b>Subscribe</b> to Our Newsletter to get Important News, Amazing Offers & Inside Scoops:</p>

    <form class="row subscribeForm">
      <i class=" envelope fa fa-envelope fa-lg" aria-hidden="true"></i>
      <input class="emailInput text-center" type="email" placeholder="Enter Your Email">
      <a>
        <div class="subscribeBtn"><i class="subscribeText">Subscribe</i></div>
      </a>
    </form>
    <br>
    <div class="socialMedia row">
      <div class="facebook">
        <i class="fa fa-facebook fa-lg" aria-hidden="true"></i>
      </div>
      <p class="facebookText"><b>Like us</b> <br>on facebook</p>

      <div class="rss">
        <i class="fa fa-rss fa-lg" aria-hidden="true"></i>
      </div>
      <p class="facebookText"><b>Subscribe</b> <br>to RSS Feeds</p>
    </div>
    </div>
    <span class="col-md-1"></span>
  </div>
</div>
