<nav class="navbar navbar-toggleable-md navbar-light bg-faded fixed-top" >
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">younglings</a>
  
  <div class="collapse navbar-collapse" id="navbarText">
    <div class="divider border-bottom-0 border-left-0 border-top-0 ml-3 mt-3"></div>
    <ul class="navbar-nav  mt-5 ml-4 ml-auto">
      <li class="nav-item ">
        <a class="nav-link " href="#">HOME <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">FEATURES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">PAGES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">PORTOFOLIO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">BLOG</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">SHOP</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">SHORTCODES</a>
      </li>
    </ul>
    <div class="divider border-bottom-0 border-left-0 border-top-0 ml-3 mt-3"></div>
    <span class="navbar-text ml-4 mr-3 ">
        <i class="fa fa-search navIcon" aria-hidden="true"></i>
    </span>
      <span class="navbar-text  ml-4 mr-3">
        <i class="fa fa-shopping-cart navIcon" aria-hidden="true"></i>
    </span>
  </div>
</nav>