.pageTitle{
   height: 130px;	
   background-color: #F5F5F5;	
   box-shadow: 0 1px 1px 1px rgba(221,221,221,0.75);
   display: block;
   margin-top:100px;
}

.titleText{
    font-size: 28px;
    font-family: Raleway;
    font-weight: bold;
}

.breadCrumbText{
    font-family: Lato;
    font-size: 12px;
    color:#555555;
    line-height: 3;
}